html
head 
body
	h1 Messages 

	li
		a(href='/newpost') Create another Post

	#Test 
each row in database
	//iterate through each i in the array
	h5=row.title    
	//header is every title key value within array
	p=row.body     
	//paragraph is every body key value within array


	

